.hyou{
    border-collapse: collapse;
    width: 1200px;
    height: 1000px;
}
.toumei1{
    width: 900px;
    height: 10px;
}
.toumei2{
    width: 450px;
    height: 705px;
}
.toumei3{
    width: 450px;
    height: 10px;
}
.reset{
    width: 100px;
    height: 50px;
}
.motigoma{
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}
.motigomaookisa{
    width: 100px;
    height: 100px;
}
.yoko{
    display: flex;
    flex-flow: row;
}
.tate{
    display: flex;
    flex-flow: column;
}
.koma{
    background-color: transparent;
    border: 0px;
}
.toumeibutton{
    background-color: transparent;
    border-color: transparent;
    width: 125px;
    height: 120px;
    font-size: 50px;
}
.rotate{
    transform: rotate(180deg);
}
.box{
    width: 1000px;
    height: 1000px;
    color: red;
    background-color: red;
    position: absolute;
}